.wrapper {
	width: 100%;
	height: 408px;
	background-color: #444343;
	position: relative;
	bottom: 0px;
	color: white;
	margin-top: 200px;
}
.wrapper2 {
	width: 1440px;
	height: 100%;
	background-color: #444343;
	position: relative;
	bottom: 0px;
	color: white;
	left:50%;
	transform:translateX(-50%)
}


.logo {
	position: absolute;
	left: 188px;
	top: 20px;
}
.logo2 {
	display: none;
}

.text1 {
	position: absolute;
	left: 221px;
	top: 152px;
	font-family: Niramit;
	font-size: 32px;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: left;
}

.text2 {
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	position: absolute;
	top: 200px;
	left: 221px;
	width: 267px;
}
.text3 {
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;

	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;

	position: absolute;
	top: 297px;
	width: 208px;
	left: 221px;
}

.company ul {
	list-style: none;
}
.company {
	position: absolute;
	left: 524px;
	top: 45px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 0em;
	text-align: left;
}
.list_company_main {
	font-family: Inter;
	font-size: 32px;
	font-weight: 400;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: left;
	text-decoration: underline;
}

.contact {
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;

	left: 524px;
	top: 243px;
	position: absolute;
}
.contact ul {
	list-style: none;
}
.list_contact_main {
	font-family: Inter;
	font-size: 32px;
	font-weight: 400;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: left;
	text-decoration: underline;
}

.services {
	position: absolute;
	left: 779px;
	top: 45px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 34px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
}
.list_company_main li a {
	color: white;
}
.services ul {
	list-style: none;
}
.list_services_main {
	font-family: Inter;
	font-size: 32px;
	font-weight: 400;
	line-height: 39px;
	letter-spacing: 0em;

	text-decoration: underline;
}

.text4 {
	left: 1096px;
	top: 53px;
	position: absolute;
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
}

.messangers {
	position: absolute;
	top: 100px;
	left: 1096px;
}
.messengers {
	position: absolute;
	right: 194px;
	top: 53px;
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
}
p {
	margin: 0px;
}

.mes {
	height: 63px;
	width: 150px;
	display: flex;
	text-align: center;
	align-items: center;
}
.wrapper a {
	color: white;
	text-decoration: none;
}
.messengers2 {
	display: none;
}

@media (max-width: 395px) {
	.text1 {
		font-size: 22px;
		left: 46px;
		top: 59px;
		
	}
	.text2 {
		font-size: 8px;
		left: 45px;
		top: 93px;
		width: 80px;
		height: 30px;
		font-family: Niramit;
		font-size: 8px;
		font-weight: 400;
		line-height: 10px;
		letter-spacing: 0em;
		text-align: left;
	}
	.text3 {
		font-size: 8px;
		left: 45px;
		top: 128px;
		width: 83px;
		height: 20px;
		font-family: Niramit;
		font-size: 8px;
		font-weight: 400;
		line-height: 10px;
		letter-spacing: 0em;
		text-align: left;
	}
	.logo {
		display: none;
	}
	.logo2 {
		display: block;
	}
	.services {
		left: 248px;
		top: 16px;
		font-family: Inter;
		font-size: 8px;
		font-weight: 400;
		line-height: 12px;
		letter-spacing: 0em;
		text-align: left;
	}
	.contact {
		font-family: Inter;
		font-size: 8px;
		font-weight: 400;
		line-height: 10px;
		letter-spacing: 0em;
		text-align: left;
		left: 154px;
		top: 90px;
	}
	.wrapper {
		height: 185px;
		margin-top:50px;
	}
	.wrapper2 {
			width:100%;
	}
	.list_contact_main {
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: left;
	}
	.list_services_main {
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: center;
	}
	.messengers {
		display: none;
	}

	.company {
		left: 154px;
		font-family: Niramit;
		font-size: 8px;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0em;
		text-align: left;
		top: 16px;
	}
	.list_company_main {
		font-family: Niramit;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: left;
	}
	.messengers2 {
		font-family: Niramit;
		font-size: 10px;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0em;
		text-align: left;
		position: absolute;
		left: 248px;
		top: 138px;
		display: block;
	}
	.mes2 {
		display: flex;
		text-align: center;
		align-items: center;
	}
}
