.activeModal {
	overflow-y: hidden;
}
.wrapper {
	width: 100%;
	height: 100%;
	background: rgba(49, 49, 49, 0.8);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 15;
	display: flex;
	align-items: center;
	justify-content: center;
}

.activeModal {
	overflow-y: hidden;
}

.modalContent {
	width: 700px;
	height: 450px;
	z-index: 16;
	position: absolute;
	background: linear-gradient(
		89.87deg,
		#ed1d10 0.13%,
		#f65d08 51.06%,
		#ff0f00 99.9%
	);
	border-radius: 20px;
	background-color: #d9d9d9;
}

.login {
	background-color: #d9d9d9;
	width: 512px;
	height: 51px;
	border-radius: 20px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	top: 159px;
}
.login_text {
	font-family: Inter;
	font-size: 32px;
	font-weight: 400;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: left;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	top: 90px;
	color: white;
}
.password_text {
	font-family: Inter;
	font-size: 32px;
	font-weight: 400;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: left;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	top: 230px;
	color: white;
}
.password {
	background-color: #d9d9d9;
	width: 512px;
	height: 51px;
	border-radius: 20px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	top: 301px;
}
.auth {
	position: absolute;
	right: 20px;
	top: 0px;
}

.main {
	font-family: Inter;
	font-size: 32px;
	font-weight: 400;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: left;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-decoration: underline;
}

.yes {
	color: white;
	font-family: Inter;
	font-size: 32px;
	font-weight: 400;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: left;
	text-decoration: underline;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
}

.info {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 60px;
	font-size: 29px;
	color: green;
}
.info_warn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 60px;
	font-size: 29px;
	color: black;
}
